mcafee-agent:


  #############################################################
  #
  # Optional parameters for the mcafee-agent-windows-formula
  #
  #############################################################

  # `package` is the name of the winrepo package containing the
  # mcafee agent.
  #package: 'mcafee-agent'

  # `version` is the version of the agent to install. the specified version
  # must be present in the winrepo package definition.
  #version: ''
