# Initialize a map of default values
{% set default = {
    'package' : 'mcafee-agent',
    'version' : '',
} %}

# Define the mcafee map, merging pillar and default values
{% set mcafee = {
    'package' : salt['pillar.get'](
        'mcafee-agent:lookup:package',
        default.package),
    'version' : salt['pillar.get'](
        'mcafee-agent:lookup:version',
        default.version),
} %}
